.calendar[class^="react-calendar"] {
  width: 100%;
  border: none;

  [class~="react-calendar__tile--now"] {
    background: none;

    border: 2px solid royalblue;
    border-radius: 0.4rem;
  }
  .tile {
    // font-size: 24px;
    font-family: "Pretendard";
    // font-weight: bold;
    text-align: left;

    padding: 1rem;

    line-height: 1.6;
  }
}
